.jumbotron {
	text-align: center;
	background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
    border-bottom: 10px solid rgb(32, 61, 52);
    background-size: cover;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}